.wave {
  --size: 50px;
  --R: calc(var(--size) * 1.28);

  -webkit-mask: radial-gradient(
        var(--R) at 50% calc(1.8 * var(--size)),
        #000 99%,
        #0000 101%
      )
      50% 0 / calc(4 * var(--size)) 100%,
    radial-gradient(
        var(--R) at 50% calc(-0.8 * var(--size)),
        #0000 99%,
        #000 101%
      )
      calc(50% - 2 * var(--size)) var(--size) / calc(4 * var(--size)) 100%
      repeat-x;
}
